#content > .container > .center-part > img {
    width: 100%;
    height: min-content;
    align-self: center;
    margin: 2rem 0 2rem 0;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    pointer-events: none;
}