#content > .container > .center-part > img {
    width: 90%;
    max-width: 999px;
    height: min-content;
    align-self: center;
    margin: 2rem 0 2rem 0;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    pointer-events: none;
}

#content > .container > .center-part > h1 {
    font-size: 2.2rem;
}