
/* Styles */
body {
    margin: 0px;
    
    color: var(--text-color);
}

/*main content*/
#content {
    background-image: url("/sprites/images/blue-ice.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 10%;
    /*pointer-events: none;*/
}

#content > div {
    height: 10000px;

    background-color: var(--color-1);
}


/*footer*/
#footer {
    height: 5em;

    background-color: var(--color-lighter-black);
}

/*noscript*/
noscript {
    position: fixed;
    bottom: 10px;
    left: 5%;

    width: 90%;
    height: auto;
    margin: auto;

    animation: noscript-popup 2s;
}

noscript #noscript-text {
    padding: 20px;

    color: white;
    font-family: Arial;
    text-align: center;

    background-color: rgba(15, 15, 15, 0.85);
}
