/* Fonts */
@font-face {
    font-family: "MinecraftTen";
    src: url("/sprites/fonts/minecraft-ten.otf");
}

@font-face {
    font-family: "InterBlack";
    src: url("/sprites/fonts/inter-black.ttf");
}


@font-face {
    font-family: "Cabin";
    src: url("/sprites/fonts/cabin-regular.ttf");
}

@font-face {
    font-family: "Gantari";
    src: url("/sprites/fonts/gantari-regular.ttf");
}

/* Styles */
* {
    transition-duration: 0.2s;
    transition-property: background-color, color, border-color, text-shadow, box-shadow;
}


:root {
    --color-primary-toned-light: hsl(215, 80%, 65%);
    --color-1-light: hsla(215, 30%, 90%, 0.8);
    --color-2-light: hsl(215, 30%, 80%);
    --text-color-light: hsl(215, 10%, 5%);
    --svg-icon-color-light: invert(4%) sepia(7%) saturate(916%) hue-rotate(155deg) brightness(94%) contrast(98%);
    --color-pure-contrast-light: hsl(0, 0%, 0%);
    --color-contrast-light: hsl(0, 0%, 13%);
    --color-link-light: hsl(210, 100%, 40%);
    --color-link-hover-light: hsl(210, 100%, 40%);
    --color-link-visitied-light: hsl(210, 100%, 40%);

    --color-primary-toned-dark: hsl(215, 55%, 25%);
    --color-1-dark: hsla(215, 15%, 10%, 0.9);
    --color-2-dark: hsl(215, 15%, 20%);
    --text-color-dark: hsl(215, 100%, 95%);
    --svg-icon-color-dark: invert(97%) sepia(96%) saturate(2553%) hue-rotate(178deg) brightness(105%) contrast(108%);
    --color-pure-contrast-dark: hsl(0, 0%, 100%);
    --color-contrast-dark: hsl(0, 0%, 87%);
    --color-link-dark: hsl(240, 100%, 77%);
    --color-link-hover-dark: hsl(240, 100%, 77%);;
    --color-link-visitied-dark: hsl(240, 100%, 77%);;

    --color-black: hsl(0, 0%, 0%);
    --color-lighter-black: hsl(0, 0%, 13%);
    --color-primary: hsl(215, 75%, 50%);
}

:root[data-theme="light"] {
    color-scheme: light;
    --color-primary-toned: var(--color-primary-toned-light);
    --color-1: var(--color-1-light);
    --color-2: var(--color-2-light);
    --text-color:  var(--text-color-light);
    --svg-icon-color: var(--svg-icon-color-light);
    --color-pure-contrast: var(--color-pure-contrast-light);
    --color-contrast: var(--color-contrast-light);
    --color-pure-anticontrast: var(--color-pure-contrast-dark);
    --color-anticontrast: var(--color-contrast-dark);
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --color-primary-toned: var(--color-primary-toned-dark);
    --color-1: var(--color-1-dark);
    --color-2: var(--color-2-dark);
    --text-color:  var(--text-color-dark);
    --svg-icon-color: var(--svg-icon-color-dark);
    --color-pure-anticontrast: var(--color-pure-contrast-light);
    --color-anticontrast: var(--color-contrast-light);
}

/*top bar*/
#topbar {
    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3em;

    background-color: var(--color-2);

    border-color: var(--color-primary);
    border-width: 0 0 0.2em 0;
    border-style: solid;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#topbar > .theme-toggle {
    display: flex;
    margin-left: auto;
    align-self: center;

    cursor: pointer;

    border-width: 0.2em;
    border-color: var(--text-color);
    border-style: solid;
}

#topbar > .theme-toggle:hover {
    background-color: var(--color-primary-toned);
}

#topbar > .theme-toggle img {
    height: 1.5em;
    width: 1.5em;
    padding: 0.3em;

    image-rendering: pixelated;
}

#topbar > .icon-container {
    display: flex;
    flex-direction: row;
    padding: 0 0.4em 0 0.1em;

    text-decoration: none;
}

#topbar > .icon-container > img {
    height: 2.4em;
    width: 2.4em;
    padding: 0.3em;

    border-radius: 10px;
}

#topbar > .icon-container > span {
    display: block;
    margin: auto 0.1em;

    color: var(--text-color);
    font-family: MinecraftTen;
    font-size: larger;
    text-decoration: none;
    text-shadow: 1px 2px 1px var(--color-primary);

}


#topbar > .links-container {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    margin: 0.25em 0.9em 0 0.4em;

    text-decoration: none;
}

#topbar > .links-container > a {
    padding: 0.2em 1em 1em 1em;

    color: var(--text-color);
    text-decoration: none;
    font-family: InterBlack;

    background-color: var(--color-2);

    border-color: var(--color-2);
    border-width: 0.15em 0 0 0;
    border-style: solid;
}

#topbar > .links-container > a:hover {
    background-color: var(--color-primary-toned);

    border-color: var(--color-anticontrast);
}

#topbar > .links-container > a.current-page {
    background-color: var(--color-primary);

    color: var(--text-color-dark);

    border-color: var(--color-pure-anticontrast);
}


#topbar > .tri-dash-menu {
    margin: 0 0.9em 0 0.4em;
}

#topbar > .tri-dash-menu > .button {
    height: 3em;
}

#topbar > .tri-dash-menu:hover > .button {
    background-color: var(--color-primary-toned-dark);
}

#topbar > .tri-dash-menu.open > .button {
    background-color: var(--color-primary);
}

#topbar > :is(.tri-dash-menu.open, .tri-dash-menu:hover) > .button > img {
    filter: var(--svg-icon-color-dark);
}

#topbar > .tri-dash-menu > .button > img {
    height: 2.4em;
    width: 2.4em;
    padding: 0.3em;

    filter: var(--svg-icon-color);

    cursor: pointer;
}

#topbar > .tri-dash-menu.open > .links-dropdown {
    position: absolute;
    right: 0;
    top: 3.2em;
    z-index: 99;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 10em;
    height: 20em;

    background-color: var(--color-2);

    border-color: var(--color-primary);
    border-width: 0 0 0.2em 0.2em;
    border-style: solid;
}

#topbar > .tri-dash-menu.open > .links-dropdown > a {
    padding: 1.2em 0 1.2em 0;

    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    font-family: InterBlack;

    background-color: var(--color-2);

    border-color: var(--color-2);
    border-width: 0.15em 0 0 0;
    border-style: solid;
}

#topbar > .tri-dash-menu.open > .links-dropdown > a:hover {
    background-color: var(--color-primary-toned);

    border-color: var(--color-anticontrast);
}

#topbar > .tri-dash-menu.open > .links-dropdown > a.current-page {
    background-color: var(--color-primary);

    color: var(--text-color-dark);

    border-color: var(--color-pure-anticontrast);
}

#topbar > .tri-dash-menu:not(.open) > .links-dropdown {
    display: none;
}

@media only screen and (max-width: 559px) {
    #topbar > .links-container {
        display: none !important;
    }

    #topbar > .tri-dash-menu {
        display: block !important;
    }
}